@model IEnumerable<ShoppingMartWithoutMVC.Models.AddProduct>

@{
    ViewBag.Title = "UserProductView";
}

<h2>Shooping List</h2>
<h4>
    Welcome @ViewBag.LoginUser enjoy shooping
</h4>

<p>
   
</p>
<div class="items-container">
    @foreach (var item in Model)
    {
       
        <div class="item ">
            <dl>

                <dd>
                    <img src="@Url.Content(item.img_path)" width="250" height="250"  />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.product_id) :
                    @Html.DisplayFor(modelItem => item.product_id)
                </dt>
                <dd></dd>

                <dt>
                    @Html.DisplayNameFor(model => model.product_name) :
                    @Html.DisplayFor(modelItem => item.product_name)
                </dt>
                <dd></dd>

                <dt>
                    @Html.DisplayNameFor(model => model.price) :
                    @Html.DisplayFor(modelItem => item.price)
                </dt>
                <dd></dd>

                <dt>
                    @using (Html.BeginForm("AddToCart", "AddProduct", FormMethod.Post))
                    {
                        @*@Html.HiddenFor(model => item.id)*@
                        @Html.HiddenFor(model => item.img_path)
                        @Html.HiddenFor(model => item.product_id)
                        @Html.HiddenFor(model => item.product_name)
                        @Html.HiddenFor(model => item.price)

                        <input type="submit" class="btn btn-info mt-2" value="Add to Cart" />
                    }


                </dt>
            </dl>
        </div>
    }
</div>

<style>
    .items-container {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        margin: 10px;
        flex: 0 0 230px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    dl {
        display: flex;
        flex-direction: column;
        text-align:center;
    }

    dt, dd {
        margin: 0;
    }
</style>

