@model IEnumerable<ShoppingMartWithoutMVC.Models.AddProduct>

@{
    ViewBag.Title = "UserProductView";
}

<h2>Shopping List</h2>
<h4>
    Welcome @ViewBag.LoginUser, enjoy shopping!
</h4>

<div class="items-container">
    @foreach (var item in Model)
    {
        <div class="item">
            <dl>
                <dd>
                    <img src="@Url.Content(item.img_path)" width="250" height="250" alt="@item.product_name" />
                </dd>

                <dt>Product ID: @item.product_id</dt>
                <dt>Product Name: @item.product_name</dt>
                <dt>Price: @item.price</dt>

                <dt>
                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("id", item.id)
                        @Html.Hidden("img_path", item.img_path)
                        @Html.Hidden("product_id", item.product_id)
                        @Html.Hidden("product_name", item.product_name)
                        @Html.Hidden("price", item.price)

                        <input type="number" name="quantity" min="1" value="1" style="width:60px;" />
                        <input type="submit" class="btn btn-info mt-2" value="Add to Cart" />
                    }
                </dt>
            </dl>
        </div>
    }
</div>

<style>
    .items-container {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        margin: 10px;
        flex: 0 0 230px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    dl {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    dt, dd {
        margin: 0;
    }
</style>

